<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="ame_order_create" instance="AmeDigital\AME\Observer\OrderCreate"  />
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="ame_credit_memo" instance="AmeDigital\AME\Observer\CreditMemoObserver"  />
    </event>
</config>
